node_modules
.nuxt
.output
dist
.cache
.vercel

.env
.env.*
*.env.example

.DS_Store
Thumbs.db
*.log

# Exclude all .md and .sql files (except README.md)
*.md
*.README.md
*.sql
*.txt

# Project data / scripts
/masterdata/
/scripts/
